// Colors.
$dark-mode-el: #2b3945;
$dark-mode-bg: #202c37;
$light-mode-text: #0e1011;
$light-mode-input: #858585;
$light-mode-bg: #fafafa;
$dark-mode-txt-light-mode-el: #ffffff;


// Typography.
$ff-main: 'Nunito Sans', sans-serif;
$fw-light: 300;
$ff-semi-bold: 600;
$ff-extra-bold: 800;


// Others.
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$hover-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$transition: all 0.2s ease-in-out;