.navbar-wrapper {
    background-color: $dark-mode-txt-light-mode-el;
    box-shadow: $box-shadow;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 1rem;
        transition: $transition;

        @media (min-width: 375px) {
            padding: 1.5rem 1rem;
        }

        @media (min-width: 768px) {
            padding: 1.7rem 0rem;
        }

        @media (min-width: 1000px) {
            padding: 1.2rem 0rem;
        }


        h3 {
            font-size: 1.1rem;
            font-weight: $ff-extra-bold;
            padding: 0;

            @media (min-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }



    .dark-mode-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        font-size: 0.8rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: $transition;

        position: relative;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            top: 97%;
            left: 0;
            background: #f39c25;
            transition: transform 0.5s;
            transform: scaleX(0);
            transform-origin: right;
        }

        span {
            margin-right: 0.3rem;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        &:focus {
            &:after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }

        @media (min-width: 768px) {
            font-size: 0.95rem;
        }

        @media (min-width: 1000px) {
            font-size: 1rem;
        }
    }
}