// ============================== Light Mode ==============================
.navbar-wrapper-light {
    background-color: $white;
    color: $very-dark-blue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.25s ease-in-out;

    .navbar-container {
        h3 {
            font-weight: $fw-extra-bold;
        }

        button {
            font-weight: $fw-semi-bold;
            color: $very-dark-blue;
        }
    }
}



// ============================== Dark Mode ==============================
.navbar-wrapper-dark {
    background-color: $dark-blue;
    color: $white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    transition: all 0.25s ease-in-out;
    
    .navbar-container {
        h3 {
            font-weight: $fw-semi-bold;
            color: darken($white, 10%);
        }

        button {
            font-weight: $fw-regular;
            color: darken($white, 10%);
        }
    }
}



// ============================== Container ==============================
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include width-mix;
    padding: 1.7rem 0.3rem;

    @media (min-width: 768px) {
        padding: 1.8rem 0.3rem;
    }

    @media (min-width: 1000px) {
        padding: 1.7rem 0rem 1.7rem 0.3rem;
    }


    h3 {
        font-size: 0.95rem;
        letter-spacing: 0.5px;

        @media (min-width: 768px) {
            font-size: 1.1rem;
        }
    }


    button {
        position: relative;
        background: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        border: none;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
            text-decoration: underline;
        }

        @media (min-width: 768px) {
            font-size: 1rem;
        }

        @media (min-width: 1000px) {
            font-size: 1rem;
        }
    }
}