// ============================== Light Mode ==============================
.single-country-btns-light {
    .button {
        background-color: $white;
        color: $very-dark-blue;
        box-shadow: $search-box-shadow;
        
        &:hover {
            box-shadow: $hover-search-box-shadow;
        }
    }
}



// ============================== Dark Mode ==============================
.single-country-btns-dark {
    .button {
        background-color: $dark-blue;
        color: darken($white, 10%);
        box-shadow: $search-box-shadow-dark;
        
        &:hover {
            box-shadow: $hover-search-box-shadow-dark;
        }
    }
}



// ============================== General ==============================
.single-country-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .button {
        display: flex;
        gap: 0.4rem;
        font-weight: $fw-semi-bold;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 0.7rem 1.5rem;
        cursor: pointer;
        transition: $transition;
    }
}