// ============================== Light Mode ==============================
.single-country-big-wrapper-light {
    .other-details-wrapper {
        h3 {
            font-weight: $fw-bold;
        }

        .two-panels-container {
            p {
                font-weight: $fw-semi-bold;

                span {
                    color: $very-dark-blue;
                }
            }
        }

        .border-wrapper {
            .borders-countires {

                p {
                    background-color: $white;
                    box-shadow: $general-box-shadow;
                    color: darken($dark-gray, 10%);
                    &:hover {
                        box-shadow: $hover-search-box-shadow-dark;
                    }
                }
            }
        }
    }
}



// ============================== Dark Mode ==============================
.single-country-big-wrapper-dark {
    // =============== Flag
    .country-flag {        
        img {
            filter: brightness(.8) contrast(1.2);
        }
    }

    .other-details-wrapper {
        h3 {
            color: #e1e1e1;
            font-weight: $fw-semi-bold;
        }

        .two-panels-container {
            p {
                color: lighten($dark-gray, 20%);
                font-weight: $fw-light;

                span {
                    color: darken($white, 8%);
                }
            }
        }

        .border-wrapper {
            .borders-countires {

                p {
                    background-color: $dark-blue;
                    box-shadow: $search-box-shadow-dark;
                    color: lighten($dark-gray, 10%);
                    &:hover {
                        box-shadow: $hover-search-box-shadow-dark;
                    }
                }
            }
        }
    }
}



// ============================== General ==============================
.single-country-big-wrapper {
    width: 90%;
    margin: 3rem auto 1rem;

    @media (min-width: 768px) {
        width: 65%;
        margin: 4rem auto 1rem;
    }
    @media (min-width: 1200px) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8rem;
        margin: 5rem auto 2rem;
    }


    // =============== Flag
    .country-flag {
        width: 100%;
        height: 200px;
        box-shadow: rgba(10, 10, 10, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        @media (min-width: 520px) {
            height: 300px;
        }
        @media (min-width: 1000px) {
            height: 430px;
        }
        @media (min-width: 1200px) {
            height: 400px;
        }
        
        img {
            width: 100%;
            height: 100%;
            transition: $transition;
        }
    }

    // =============== Other details wrapper
    .other-details-wrapper {
        margin-top: 3rem;

        @media (min-width: 1200px) {
            margin-top: 1rem;
        }

        h3 {
            font-size: 1.7rem;
            letter-spacing: 0.7px;
            line-height: 1.3;

            @media (min-width: 768px) {
                font-size: 1.8rem;
                letter-spacing: 1px;
            }
            @media (min-width: 1000px) {
                font-size: 1.9rem;
            }
        }

        // =============== Two panels container
        .two-panels-container {
            margin: 1.5rem 0 3.5rem;

            @media (min-width: 1000px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                margin: 2rem 0 5rem 0;
            }

            p {
                font-size: 0.9rem;
                color: $dark-gray;
                margin-bottom: 0.75rem;
                letter-spacing: 0.5px;
                line-height: 1.3;

                @media (min-width: 1000px) {
                    font-size: 0.95rem;
                    margin-bottom: 0.8rem;
                    line-height: 1.4;
                }

                span {
                    font-size: 0.92rem;
                    margin-right: 0.15rem;

                    @media (min-width: 1000px) {
                        margin-right: 0.2rem;
                        font-size: 0.97rem;
                    }
                }
            }

            .second-panel {
                margin-top: 2rem;

                @media (min-width: 1000px) {
                    margin-top: 0rem;
                }
            }
        }


        // =============== Borders container
        .border-wrapper {

            h4 {
                font-size: 0.95rem;
                font-weight: $fw-semi-bold;
                letter-spacing: 0.5px;
                margin-bottom: 1.5rem;

                @media (min-width: 1000px) {
                    margin-right: 2rem;

                }
            }

            .borders-countires {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 1.5rem;

                @media (min-width: 1000px) {
                    margin-top: 0;
                    grid-gap: 2rem;
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.75rem;
                    font-weight: $fw-semi-bold;
                    letter-spacing: 0.5px;
                    text-align: center;
                    padding: 0.5rem 0.6rem;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: $transition;

                    @media (min-width: 768px) {
                        padding: 0.6rem 1.4rem;
                    }
                    @media (min-width: 1000px) {
                        padding: 0.7rem 1.4rem;
                    }
                }
            }
        }
    }
}