.navbar-wrapper-light {
  background-color: #ffffff;
  color: #111517;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar-wrapper-light .navbar-container button {
  color: #111517;
}

.navbar-wrapper-dark {
  background-color: #2b3945;
  color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar-wrapper-dark .navbar-container button {
  color: #ffffff;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.7rem 1rem;
}

@media (min-width: 768px) {
  .navbar-container {
    padding: 1.8rem 0;
  }
}

@media (min-width: 1000px) {
  .navbar-container {
    padding: 1.6rem 0rem;
  }
}

.navbar-container h3 {
  font-size: 0.9rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .navbar-container h3 {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .navbar-container h3 {
    font-size: 1.1rem;
  }
}

.navbar-container button {
  position: relative;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar-container button:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navbar-container button {
    font-size: 0.95rem;
  }
}

@media (min-width: 1000px) {
  .navbar-container button {
    font-size: 1rem;
  }
}

.country-card-light {
  background-color: #ffffff;
  color: #111517;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.country-card-light:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.country-card-dark {
  background-color: #2b3945;
  color: #ffffff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.country-card-dark:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.country-card {
  width: 85%;
  max-width: 300px;
  height: 330px;
  border: none;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .country-card {
    width: auto;
    height: 350px;
  }
}

.country-card .country-flag-container {
  height: 50%;
}

@media (min-width: 768px) {
  .country-card .country-flag-container {
    height: 48%;
  }
}

@media (min-width: 1000px) {
  .country-card .country-flag-container {
    height: 45%;
  }
}

@media (min-width: 1200px) {
  .country-card .country-flag-container {
    height: 42%;
  }
}

.country-card .country-flag-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.country-card .country-short-details {
  padding: 1.2rem 1.1rem 2rem;
}

.country-card .country-short-details h4 {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

@media (min-width: 1000px) {
  .country-card .country-short-details h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.country-card .country-short-details p {
  font-size: 0.9rem;
  color: #787878;
  margin-bottom: 0.4rem;
}

.country-card .country-short-details p span {
  color: #111517;
}

.search-dropDown-container-light .search-by-name-wrapper {
  background-color: #ffffff;
  color: #858585;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-light .search-by-name-wrapper:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-dropDown-container-light .search-by-name-wrapper input {
  color: #858585;
}

.search-dropDown-container-light .dropDown-wrapper {
  background-color: #ffffff;
}

.search-dropDown-container-light .dropDown-wrapper .dropDown-region-btn {
  background-color: #ffffff;
  color: #111517;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-light .dropDown-wrapper .dropDown-region-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-dropDown-container-light .dropDown-wrapper .regions-menu {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-light .dropDown-wrapper .regions-menu:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-dropDown-container-light .dropDown-wrapper .regions-menu button {
  color: #111517;
}

.search-dropDown-container-dark .search-by-name-wrapper {
  background-color: #2b3945;
  color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-dark .search-by-name-wrapper:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.search-dropDown-container-dark .search-by-name-wrapper input {
  color: #ffffff;
}

.search-dropDown-container-dark .dropDown-wrapper {
  background-color: #2b3945;
}

.search-dropDown-container-dark .dropDown-wrapper .dropDown-region-btn {
  background-color: #2b3945;
  color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-dark .dropDown-wrapper .dropDown-region-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.search-dropDown-container-dark .dropDown-wrapper .regions-menu {
  background-color: #2b3945;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container-dark .dropDown-wrapper .regions-menu:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.search-dropDown-container-dark .dropDown-wrapper .regions-menu button {
  color: #ffffff;
}

@media (min-width: 768px) {
  .search-dropDown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search-dropDown-container .search-by-name-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .search-dropDown-container .search-by-name-wrapper {
    padding: 0.3rem 1.7rem;
    margin-bottom: 0;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .search-dropDown-container .search-by-name-wrapper {
    padding: 0.2rem 1.7rem;
    margin-bottom: 0;
    width: 40%;
  }
}

.search-dropDown-container .search-by-name-wrapper input {
  width: 90%;
  background: none;
  margin-left: 1rem;
  padding: 0.6rem 0;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .search-dropDown-container .search-by-name-wrapper input {
    padding: 0.7rem 0;
  }
}

.search-dropDown-container .dropDown-wrapper {
  position: relative;
  width: 50%;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .search-dropDown-container .dropDown-wrapper {
    width: 30%;
  }
}

@media (min-width: 1000px) {
  .search-dropDown-container .dropDown-wrapper {
    width: 26%;
  }
}

@media (min-width: 1200px) {
  .search-dropDown-container .dropDown-wrapper {
    width: 16%;
  }
}

.search-dropDown-container .dropDown-wrapper .dropDown-region-btn {
  width: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .search-dropDown-container .dropDown-wrapper .dropDown-region-btn {
    padding: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .search-dropDown-container .dropDown-wrapper .dropDown-region-btn {
    padding: 1.1rem 1.2rem;
  }
}

.search-dropDown-container .dropDown-wrapper .regions-menu {
  position: absolute;
  top: 4rem;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.8rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-dropDown-container .dropDown-wrapper .regions-menu button {
  background: none;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.search-dropDown-container .dropDown-wrapper .regions-menu button:hover {
  text-decoration: underline;
}

.footer-wrapper {
  background-color: #202020;
  color: #ffffff;
  margin-top: 5rem;
}

.footer-wrapper:before {
  content: "";
  clear: both;
  display: block;
  background-color: #f39c25;
  width: 100%;
  height: 4px;
  line-height: 0;
}

@media (min-width: 1300px) {
  .footer-wrapper {
    margin-top: 15rem;
  }
}

.footer-wrapper .footer-text-container {
  padding: 3rem 1rem 5rem;
}

@media (min-width: 768px) {
  .footer-wrapper .footer-text-container {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .footer-wrapper .footer-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1300px;
    margin: 0 auto;
    padding: 5rem 1rem 7rem 1rem;
  }
}

.footer-wrapper .footer-text-container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.footer-wrapper .footer-text-container .footer-links a {
  color: #aaaaaa;
  font-size: 0.85rem;
  text-decoration: none;
  margin-bottom: 1.4rem;
  cursor: pointer;
}

.footer-wrapper .footer-text-container .footer-links a:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1300px) {
  .footer-wrapper .footer-text-container .footer-links a {
    margin-bottom: 0;
    margin-right: 14rem;
  }
}

@media (min-width: 1300px) {
  .footer-wrapper .footer-text {
    width: 40%;
  }
}

.footer-wrapper .footer-text h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-wrapper .footer-text p {
  font-size: 0.85rem;
  color: #aaaaaa;
  line-height: 1.5;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.mainContent-light {
  background-color: #fafafa;
  color: #111517;
}

.mainContent-dark {
  background-color: #202c37;
  color: #ffffff;
}

.mainContent {
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.mainContent .mainContent-container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5rem 0;
}

@media (min-width: 768px) {
  .mainContent .mainContent-container {
    padding: 2rem 0;
  }
}

@media (min-width: 1000px) {
  .mainContent .mainContent-container {
    padding: 2.5rem 0;
  }
}

.mainContent .mainContent-container .cards-container {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

@media (min-width: 768px) {
  .mainContent .mainContent-container .cards-container {
    margin: 4rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 1100px) {
  .mainContent .mainContent-container .cards-container {
    margin: 5rem 0;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 1200px) {
  .mainContent .mainContent-container .cards-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.single-country-btns-light .button {
  background-color: #ffffff;
  color: #111517;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-country-btns-light .button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.single-country-btns-dark .button {
  background-color: #2b3945;
  color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.single-country-btns-dark .button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.single-country-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-country-btns .button {
  font-weight: 600;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.6rem 1.8rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.single-country-big-wrapper-light .other-details-wrapper .two-panels-container p span {
  color: #111517;
}

.single-country-big-wrapper-light .other-details-wrapper .border-wrapper .borders-countires p {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.single-country-big-wrapper-light .other-details-wrapper .border-wrapper .borders-countires p:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.single-country-big-wrapper-dark .other-details-wrapper .two-panels-container p span {
  color: #ffffff;
}

.single-country-big-wrapper-dark .other-details-wrapper .border-wrapper .borders-countires p {
  background-color: #2b3945;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.single-country-big-wrapper-dark .other-details-wrapper .border-wrapper .borders-countires p:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.single-country-big-wrapper {
  width: 90%;
  margin: 3rem auto 1rem;
}

@media (min-width: 768px) {
  .single-country-big-wrapper {
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .single-country-big-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    margin: 5rem auto 2rem;
  }
}

.single-country-big-wrapper .country-flag {
  width: 100%;
  height: 190px;
}

@media (min-width: 500px) {
  .single-country-big-wrapper .country-flag {
    height: 230px;
  }
}

@media (min-width: 768px) {
  .single-country-big-wrapper .country-flag {
    height: 250px;
  }
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .country-flag {
    height: 430px;
  }
}

.single-country-big-wrapper .country-flag img {
  width: 100%;
  height: 100%;
}

.single-country-big-wrapper .other-details-wrapper {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .single-country-big-wrapper .other-details-wrapper {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper {
    margin-top: 1rem;
  }
}

.single-country-big-wrapper .other-details-wrapper h3 {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.7px;
}

@media (min-width: 768px) {
  .single-country-big-wrapper .other-details-wrapper h3 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper h3 {
    font-size: 1.9rem;
  }
}

.single-country-big-wrapper .other-details-wrapper .two-panels-container {
  margin: 1.5rem 0 3.5rem;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .two-panels-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 2rem 0 3.5rem 0;
  }
}

.single-country-big-wrapper .other-details-wrapper .two-panels-container p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #858585;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .two-panels-container p {
    font-size: 0.95rem;
    margin-bottom: 0.8rem;
  }
}

.single-country-big-wrapper .other-details-wrapper .two-panels-container p span {
  margin-right: 0.15rem;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .two-panels-container p span {
    margin-right: 0.2rem;
  }
}

.single-country-big-wrapper .other-details-wrapper .two-panels-container .second-panel {
  margin-top: 1.5rem;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .two-panels-container .second-panel {
    margin-top: 0rem;
  }
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .border-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.single-country-big-wrapper .other-details-wrapper .border-wrapper h4 {
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .border-wrapper h4 {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.single-country-big-wrapper .other-details-wrapper .border-wrapper .borders-countires {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .border-wrapper .borders-countires {
    margin-top: 0;
  }
}

.single-country-big-wrapper .other-details-wrapper .border-wrapper .borders-countires p {
  color: #858585;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 1000px) {
  .single-country-big-wrapper .other-details-wrapper .border-wrapper .borders-countires p {
    padding: 0.4rem 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */